<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etnlgravtnl.system.dao.LogAccessDao" >
  <resultMap id="BaseResultMap" type="com.etnlgravtnl.system.entity.LogAccess" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="REMOTE_ADDR" property="remoteAddr" jdbcType="VARCHAR" />
    <result column="USER_AGENT" property="userAgent" jdbcType="VARCHAR" />
    <result column="REQUEST_URI" property="requestUri" jdbcType="VARCHAR" />
    <result column="METHOD" property="method" jdbcType="VARCHAR" />
    <result column="TIME_COST" property="timeCost" jdbcType="INTEGER" />
    <result column="PARAMS" property="params" jdbcType="LONGVARCHAR" />
    <result column="EXCEPTION" property="exception" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TYPE, TITLE, CREATE_BY, CREATE_DATE, REMOTE_ADDR, USER_AGENT, REQUEST_URI, METHOD, 
    TIME_COST
  </sql>
  <sql id="Blob_Column_List" >
    PARAMS, EXCEPTION
  </sql>

  <sql id="base_where">
    <where>

      <if test="id!=null and id!=''" >
        and id = #{id}
      </if>
      <if test="type!=null and type!=''" >
        and TYPE = #{type}
      </if>
      <if test="title!=null and title!=''" >
        and TITLE = #{title}
      </if>
      <if test="createBy!=null and createBy!=''" >
        and CREATE_BY = #{createBy}
      </if>
      <if test="createDate!=null and createDate!=''" >
        and CREATE_DATE = #{createDate}
      </if>
      <if test="remoteAddr!=null and remoteAddr!=''" >
        and REMOTE_ADDR = #{remoteAddr}
      </if>
      <if test="userAgent!=null and userAgent!=''" >
        and USER_AGENT = #{userAgent}
      </if>
      <if test="requestUri!=null and requestUri!=''" >
        and REQUEST_URI = #{requestUri}
      </if>
      <if test="method!=null and method!=''" >
        and METHOD = #{method}
      </if>
      <if test="timeCost!=null and timeCost!=''" >
        and TIME_COST = #{timeCost}
      </if>
      <if test="leadInvestor!=null and leadInvestor!=''" >
        and lead_investor = #{leadInvestor}
      </if>
      <if test="params!=null and params!=''" >
        and PARAMS = #{params}
      </if>
      <if test="exception!=null and exception!=''" >
        and EXCEPTION = #{leadInvestor}
      </if>

    </where>
  </sql>
  <select id="coutPageList" resultType="java.lang.Long" parameterType="com.etnlgravtnl.system.entity.LogAccess" >
    select 
     count(*)
    from log_access
  </select>

  <select id="findPageList" resultMap="BaseResultMap" parameterType="com.etnlgravtnl.system.entity.LogAccess" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from log_access
    limit #{startPage},#{rows}
  </select>

  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from log_access
    <include refid="base_where"></include>
  </select>




  <delete id="delete" parameterType="java.lang.String" >
    delete from log_access
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.etnlgravtnl.system.entity.LogAccess" >
    insert into log_access
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="remoteAddr != null" >
        REMOTE_ADDR,
      </if>
      <if test="userAgent != null" >
        USER_AGENT,
      </if>
      <if test="requestUri != null" >
        REQUEST_URI,
      </if>
      <if test="method != null" >
        METHOD,
      </if>
      <if test="timeCost != null" >
        TIME_COST,
      </if>
      <if test="params != null" >
        PARAMS,
      </if>
      <if test="exception != null" >
        EXCEPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remoteAddr != null" >
        #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null" >
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null" >
        #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="timeCost != null" >
        #{timeCost,jdbcType=INTEGER},
      </if>
      <if test="params != null" >
        #{params,jdbcType=LONGVARCHAR},
      </if>
      <if test="exception != null" >
        #{exception,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.etnlgravtnl.system.entity.LogAccess" >
    update log_access
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remoteAddr != null" >
        REMOTE_ADDR = #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null" >
        USER_AGENT = #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null" >
        REQUEST_URI = #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        METHOD = #{method,jdbcType=VARCHAR},
      </if>
      <if test="timeCost != null" >
        TIME_COST = #{timeCost,jdbcType=INTEGER},
      </if>
      <if test="params != null" >
        PARAMS = #{params,jdbcType=LONGVARCHAR},
      </if>
      <if test="exception != null" >
        EXCEPTION = #{exception,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>